
/* --------Form--------- */
form {
	margin: 0;
	padding: 0;
}
b{
	color:white;
	font-size: 17px;
}
input{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	width:250px;
	height:30px;
}
input[type=submit]{
	width:150px;
	height:39px;
	font-weight: bold;
	font-size: 15px;
}
input[type=submit]:hover{
	color: green;
	cursor: pointer;
}
/* --------hr line-------- */
hr{
	width:700px; 
	margin-right:120px;
}
